<% include ./partials/header %>
<link rel="stylesheet" href="/style/index.css">

<div id="hero">
    <h1>Welcome to PollsHub!</h1>
    <h3>With PollsHub You Can Create And Vote On Exciting Polls!</h3>
    <a class="btn btn-primary" href="/polls/new">Get Started</a>
</div>

</body>
</html>